@mixin font($fz, $lh, $fw: null, $ff: $basic-family) {
    font: $fw #{$fz}/#{$lh} $ff;
}

@mixin tablet {
    @media (min-width: 768px)  {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px)  {
        @content;        
    }
}

@mixin visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin intro-background {
  background: image-set( 
        url('../img/header-bg.jpg') 1x,
        url('../img/header-bg.webp') 2x
      ) center/cover no-repeat;  
    background: -webkit-image-set( 
        url('../img/header-bg.jpg') 1x,
        url('../img/header-bg.webp') 2x
      ) center/cover no-repeat;
}

   